* {
    font-family: 'Roboto Mono', sans-serif;
}

img {
    min-height: 400px;
    min-width: 250px;
    margin-right: 40px;
}

.header {
    display: flex;
    font-size: 50px;
    font-weight: bolder;
    justify-content: center;
    padding-bottom: 45px;
    padding-top: 15px;
}

.lifeCounter
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:12px;
}
.healthText
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:12px;
}

.centerImage
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.catPics
{
    margin-bottom: 25px;
    max-height: 600px;
}

.modalButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}